html {
  text-align: center;
  background-color: #0f355e;
}
*{
  box-sizing: border-box;
}
.title{
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  place-items: center;
  height: 250px;
}
#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.4rem;
  color: #FEF2BF;
  line-height: 1.5;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
  @media(max-width: 1023px){
    display: flex;
  }
}
video{
  opacity: 0;
  /* height: 200px; */
}
#wrong{
  justify-self: flex-end;
}
#correct{
  justify-self: flex-start;
}
.display{
  opacity: 1;
}
.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  background-color: grey;
}
